@import "tailwindcss";


@font-face {
    font-family: "Karla";
    src: url("./assets/fonts/Karla-Regular.ttf") format("truetype");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Karla";
    src: url("./assets/fonts/Karla-Bold.ttf") format("truetype");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
  }
  

  body {
    font-family: "Karla", sans-serif;
    color: #384b38;
  }
  h1{
    font-family: "Poppins", sans-serif;

  }
   h1,h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
  }
  

  .btn-primary {
    background-color: #384b38;
    color: white;
    font-weight: bold;
    padding: 1rem 2rem; /* py-4 px-8 */
    border-radius: 9999px; /* rounded-full */
    font-size: 1rem;
  }

  .sub-sub-headings{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  

  }


  .discover-button {
  border: 2px solid #799434;
  padding: 0.5rem 3rem; /* py-4 = 1rem top/bottom, px-12 = 3rem left/right */
  font-weight: bold;
  margin-top: 4rem; /* mt-16 = 4rem */
  backdrop-filter: blur(12px); /* Matches backdrop-blur-md */
  font-size: 1.5rem; /* md:text-2xl = 1.5rem (applied on medium screens) */
}

/* Media query for md breakpoint (768px) */
@media (min-width: 768px) {
  .discover-button {
    font-size: 1.5rem;
  }
}



